{{> head }}


{{> navbar }}

<div class="row">
    
    <div class="col-8">
        <h1>Curso Node</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit animi beatae magnam corporis vel, delectus distinctio ratione aspernatur sunt, rerum maiores facilis recusandae, itaque voluptate consectetur doloribus obcaecati repellat laudantium!</p>
    </div>

    <div class="col-4">
        <img src="assets/img/images.jpeg" alt="img-thumbnail">
    </div>
</div>

{{> footer }}